.metadata/
bin
android/Libraries/sticky-headers-library/gen/se/emilsjolander/stickylistheaders/R.java
android/Libraries/sticky-headers-library/.settings/org.eclipse.jdt.core.prefs
android/Libraries/sticky-headers-library/gen/se/emilsjolander/stickylistheaders/BuildConfig.java
android\eclipse\configuration\org.eclipse.core.runtime
android\eclipse\configuration\org.eclipse.osgi