bin
gen
eclipse/configuration/org.eclipse.core.runtime
eclipse/configuration/org.eclipse.osgi
eclipse/configuration/org.eclipse.update
eclipse/configuration/.settings/org.eclipse.ui.ide.prefs
p2
.manager