bin
Libraries/sticky-headers-library/gen/se/emilsjolander/stickylistheaders/R.java
Libraries/sticky-headers-library/.settings/org.eclipse.jdt.core.prefs
Libraries/sticky-headers-library/gen/se/emilsjolander/stickylistheaders/BuildConfig.java
gen